<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WR_Prüfungen.Properties.Settings.BSL_WRConnectionString"
            connectionString="Data Source=10.222.102.2\SQL2005;Initial Catalog=BSL_WR;Persist Security Info=True;User ID=sa;Password=bo01ss02"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>